<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer th:fragment="footer" class="footer bg-light">
    <div class="container">
        <hr>
        <p style="text-align: center">
             <strong>Registro de Servicios Presente</strong>  | Desarrollado con Java y Spring Boot 3 <br>
            Autor: Jimmy Antonio Castañeda Sanchez | &nbsp; jimmycasta@gmail.com
            <br> <strong>2023</strong>
        </p>
    </div>
</footer>
</body>
</html>