<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reportes</title>
    <link th:insert="~{/fragments/bootstrap::bootstrap}">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="~{/fragments/navbar::navbar}"></header>

<br>
<div class="container">
    <div class="text-secondary">
        <h5>Detalle Factura</h5>
    </div>
    <hr>
    <div>
        <a class="btn btn-primary" th:href="@{/reportes/fecha}" role="button" title="Regresar a fecha de cobro">Regresar</a>
    </div>
    <br>
    <div class="card bg-light">
        <div class="card-body">
            <form th:action="@{/reportes/guardar}" th:object="${reportesDatos}" method="post">
                <div class="row">
                    <div class="col-sm-3 mb-3 text-center">
                        <label for="numeroFactura">Factura</label>
                        <input type="text" name="numeroFactura" id="numeroFactura" class="form-control"
                               style="text-align: center"
                               th:value="${nextNumeroFactura}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="fechaInicio">Fecha inicio</label>
                        <input type="date" name="fechaInicio" id="fechaInicio" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.getFechaInicio()}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="fechaFin">Fecha fin</label>
                        <input type="date" name="fechaFin" id="fechaFin" class="form-control" style="text-align: center"
                               th:value="${reportesDatos.fechaFin}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="fechaReporte">Fecha reporte</label>
                        <input type="date" name="fechaReporte" id="fechaReporte" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.fechaReporte}" readonly>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-3 mb-3 text-center">
                        <label for="diasTrabajados">Dias trabajados</label>
                        <input type="text" name="diasTrabajados" id="diasTrabajados" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.diasTrabajados}" th:field="*{diasTrabajados}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="miasAtendidos">MIAS atendidos</label>
                        <input type="text" name="miasAtendidos" id="miasAtendidos" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.miasAtendidos}" th:field="*{miasAtendidos}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="mesFacturado">Mes facturado</label>
                        <input type="text" name="mesFacturado" id="mesFacturado" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.mesFacturado}" th:field="*{mesFacturado}" readonly>
                    </div>

                    <div class="col-sm-3 mb-3 text-center">
                        <label for="totalCuentaCobro">Total cuenta de cobro</label>
                        <input type="text" name="totalCuentaCobro" id="totalCuentaCobro" class="form-control"
                               style="text-align: center"
                               th:value="${reportesDatos.totalCuentaCobro}" th:field="*{totalCuentaCobro}" readonly>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" title="Guardar cuenta de cobro">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<footer th:insert="~{/fragments/footer::footer}"></footer>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>