<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de control de servicios Presente</title>
    <link th:insert="~{/fragments/bootstrap::bootstrap}">
</head>
<body>
<header th:insert="~{/fragments/navbar::navbar}"></header>
<br>
<div class="container">
    <div class="card p-3 bg-light">
        <div class="card-body">
            <h3 class="card-title">Sicos</h3>
            <h4 class="card-title">Sistema de control de servicios</h4>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>