<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de control de servicios Presente</title>
    <link th:insert="~{/fragments/bootstrap::bootstrap}">
</head>
<body>
<header th:insert="~{/fragments/navbar::navbar}"></header>
<br>
<div class="container">
    <div class="card bg-light">
        <div class="card-body">

                <div class="d-flex justify-content-between bg-light">

                <div class="text-secondary">
                    <h3>Sicos</h3>
                    <h2>Sistema de Control de Servicios</h2>
                </div>


                <div class="col-3 list-group">
                    <div class="card-header bg-primary" style="color: white">
                        Facturación en curso
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dias trabajados
                            <span th:text="${serviciosHoy.getDiasTrabajados()}" class="badge bg-primary rounded-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tickets Resueltos
                            <span th:text="${serviciosHoy.getMiasAtendidos()}" class="badge bg-primary rounded-pill"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Facturado
                            <span th:text="${totalFacturado}" class="badge bg-primary rounded-pill"></span>
                        </li>
                    </ul>
                </div>

                </div>




        </div>
    </div>
</div>
<link th:insert="~{/fragments/javascript::link}">
<script th:insert="~{/fragments/javascript::script}"></script>
</body>
</html>